.header{

  //height: 200px;
  width: 100%;
  background-color: rgb(251, 245, 166);
  float:left;

  &__image{
    height:110px;
    width:50%;
    margin: 20px auto;
    text-align: center;
  }

  &__nav{
    height: 68px;
    width: 100%;
  }
}
